<div th:fragment="header">
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
        <h5 class="my-0 mr-md-auto mt-2 font-weight-normal">Silt</h5>
        <nav class="d-inline-flex mt-md-0 ms-md-auto">
            <a class="me-3 py-2 text-dark text-decoration-none" href="/">Main</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="/blog">Blog</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="/blog/add">New Post</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="/about">About</a>
        </nav>
    </div>
</div>